/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

header {
    color: #ffffff;
}

h2 {
    margin: 80px 0 5px 0;
}

body {
    background: linear-gradient(#134d71,#78a7c6,#f7e4bf);
    background-attachment: fixed;
}

.question-box {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100px;
    margin: auto;
    padding: 20px;
    width: 60%;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    font-style: italic;
    justify-content: space-evenly;
}

.button-choice {
    margin-right: 0;
}

#message-button {
    background-color: #134d71;
    border-radius: 5px;
    color: #ffffff;
    margin: 70px;
    width: 165px;
}

.message-box {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    height: 150px;
    justify-content: center;
    margin: 300px auto 0 auto;
    width: 75%;
}

img {
    height: 50%;
    margin: 40px auto auto auto;
    width: 25%;
}

.delete-button {
    background-color: #134d71;
    border-radius: 5px;
    color: #ffffff;
    margin: 35px 0 0 255px;
    width: 200px;
}

.hidden {
    display: none
}